{{ if $.Param "showSocialLinks" }}
<div class="footer__social">
  <div class="social">
    {{ range $name, $path := $.Param "socialOptions" }}
      {{ if $path }}
      <a href="{{ $path | safeURL }}" title="{{ $name }}" aria-label="{{ $name }}">
        {{ partial (print "svgs/social/" $name ".svg") (dict "width" 32 "height" 32) }}
      </a>
      {{ end }}      
    {{ end }}
    {{ partial "footer/links-feed.html" . }}
  </div>
  
  {{ if .Site.Params.donationOptions.patreon }}
  <div class="footer__patreon">
    <a href="{{ .Site.Params.donationOptions.patreon }}" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
  </div>
  {{ end }}
</div>
{{ end }}